/* Bouton flèche vers le haut */
.back-to-top {
  position: fixed;
  bottom: 80px; /* juste au-dessus du footer */
  right: 20px;
  background-color: #8B4513;
  color: white;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: none; /* masqué au départ */
  z-index: 999;
  transition: opacity 0.3s ease;
}

.back-to-top:hover {
  background-color: #A0522D;
}
